[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/madler/zlib.git
[submodule "3rdparty/fast-cpp-csv-parser"]
	path = 3rdparty/fast-cpp-csv-parser
	url = https://github.com/ben-strasser/fast-cpp-csv-parser.git
[submodule "3rdparty/date"]
	path = 3rdparty/date
	url = https://github.com/HowardHinnant/date.git
[submodule "3rdparty/fann"]
	path = 3rdparty/fann
	url = https://github.com/libfann/fann.git
[submodule "3rdparty/proj.4"]
	path = 3rdparty/proj.4
	url = https://github.com/OSGeo/proj.4.git
